.top{
    width: 100%;
    height: 40px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 100;
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
    .top {
        font-size: 0.5em;
        padding: 0;
    }
}

.topLeft, .topRight {
    display: flex;
    flex: 3;
    height: 100%;
    align-items: center;
    justify-content: center; 
    padding-top: 2px; 
    text-decoration: none;
    color: black;
}

.topLeft:hover {
    background-color: #2b281b;
    color: white;
    cursor: pointer;
}

.topRight:hover {
    background-color: #2b281b;
    color: white;
    cursor: pointer;
}

.topCenter:hover {
    cursor: pointer;
    background-color: grey;
    /* background-color: #ffc900;
    color: #2b281b; */
}